html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#tField {
    padding: 0;
    margin: 0;
    border: 1px solid #76d2a0;
    background-color: #cbffda;
}

.cellClass {
    width: 30px;
    height: 30px;
    border: 2px solid #76d2a0;
    outline: none;
    font-size: 15px;
    text-align: center;
}
/*

.even {
    background-color: #68cad2;
    border: 0;
}

.odd {
    border: 0;
}*/
